* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main.dark {
    background-color: black;
    color:white;
}
main.dark {
    background-color: white;
    color:black;
}
.dark, .light {
    padding:8px;
    font-size:16px;
}
.dark {
    background-color: purple;
    color: orange;
}
.light {
    background-color: lightskyblue;
    color: darkblue;
}
h5 {
    background-color: darkcyan;
    text-align: center;   
    padding:10px;
    font-size:18px;
}
h5 > div > a:link, a:visited, a:hover, a:active{
    color: darkorange;
}
.posts-disabled {
    font-size: xx-small;
    color: lightgreen;
}